<div class="narrowCard bottomPad" *ngIf="item">
    <mat-card>
        <mat-card-content>
            <h2>Item Details</h2>
        </mat-card-content>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <label class="labelPad" for="item-name">Details: </label>
                    <input id="item-name" [(ngModel)]="item.description" placeholder="details">
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                        <mat-checkbox class="example-margin" [(ngModel)]="item.isComplete">Is Done</mat-checkbox>
                </mat-list-item>
            </mat-list>

        </mat-card-content>
        <button mat-button color="primary" (click)="whenDone()">Done</button>
    </mat-card>
  </div>
